<nav>
  <ul class="nav nav-justified">
    <li class="active"><a href="#">Dashboard</a></li>
    <li><a href="#">Unfollowers <span class="badge">2</span></a></li>
    <!-- <li><a href="#">New Followers <span class="badge">4</span></a></li>
    <li><a href="#">Connections <span class="badge">2</span></a></li> -->
    <li><a href="#">Account</a></li>
    <%- if current_user %>
      <li>
        <%= link_to(destroy_user_session_path, :method => :delete) do %>
          Logout @<%= current_user.username %>
        <% end %>
      </li>
    <%- else %>
      <li>
        <%= link_to omniauth_authorize_path(:user, :twitter), class: 'twitter_login_button' do %>
        <i class="spinner"></i> Log in with <%= fa_icon(:twitter) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
